.admin-page {
  padding: 20px;
  margin-bottom: 40px;

  .ant-select {
    margin-bottom: 16px;
    width: 200px;
  }

  .card-container {
    background-color: #e0b084;
    border: 10px solid #a0522d;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 40px 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 16px;
    justify-items: center;
  }

  .ant-card {
    background-color: #fff3cd;
    color: #000;
    border-radius: 8px;
    width: 240px;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    transition: transform 0.15s linear;

    &:nth-child(odd) {
      transform: rotate(-1deg);
    }

    &:nth-child(even) {
      transform: rotate(1deg);
    }

    &:hover {
      transform: scale(1.05);
    }

    position: relative;
  }

  .pin-icon {
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    color: red;
    z-index: 1;
  }

  .ant-card-head {
    background-color: transparent;
    border-bottom: none;
  }

  .ant-card-body {
    padding: 16px;
    color: #000;
  }

  .ant-card-actions {
    position: relative;
    bottom: 10px;
    right: 10px;

    .ant-btn {
      background-color: #007bff;
      color: #fff;
      border: none;
      margin-left: 5px;
      cursor: pointer;

      &:hover {
        background-color: #0050b3;
        color: #fff;
      }
    }
  }

  .delete-icon {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 16px;
    cursor: pointer;
  }

  .blue-select {
    .ant-select-selector {
      background-color: #1677ff !important;
      border-color: #1677ff !important;
    }

    .ant-select-arrow {
      color: white !important;
    }

    .ant-select-selection-item {
      color: white !important;
    }
  }
}

body {
  margin: 0;
}