/* src/pages/HomePage/index.scss */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #242424;
}

/* Style for the home container */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  /* Style for heading */
  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: white;
  }
  
  /* Style for button container */
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Space between buttons */
  }
  
  /* Style for buttons */
  button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  